* {
    font-family: "Hack", monospace;
}

window {
    background-color: #282a36;
}

#input {
    margin: 5px;
    border-radius: 8px;
    background-color: #3B4252;
    color: #f8f8f2;
}

#inner-box {
    background-color: #282a36;
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: #282a36;
}

#scroll {
    margin: 5px;
}

#text {
    padding: 4px;
    color: #f8f8f2;
}

/* #entry:nth-child(even){
    background-color: #64646f;
} */

#entry:selected {
    background-color: #44475a;
}

#text:selected {
    background: transparent;
}
